---
# Homepage configuration
# See https://fontawesome.com/icons for icons options

# title: "Dashboard"
# subtitle: "Manav's"
# logo: "logo.png"
# icon: "fas fa-skull-crossbones" # Optional icon

header: false
footer: false
columns: "4"

# Optional theme customization
theme: default
colors:
  light:
    highlight-primary: "#3367d6"
    highlight-secondary: "#4285f4"
    highlight-hover: "#5a95f5"
    background: "#f5f5f5"
    card-background: "#ffffff"
    text: "#363636"
    text-header: "#ffffff"
    text-title: "#303030"
    text-subtitle: "#424242"
    card-shadow: rgba(0, 0, 0, 0.1)
    link-hover: "#363636"
  dark:
    highlight-primary: "#3367d6"
    highlight-secondary: "#4285f4"
    highlight-hover: "#5a95f5"
    background: "#131313"
    card-background: "#2b2b2b"
    text: "#eaeaea"
    text-header: "#ffffff"
    text-title: "#fafafa"
    text-subtitle: "#f5f5f5"
    card-shadow: rgba(0, 0, 0, 0.4)
    link-hover: "#ffdd57"

# Optional message
# message:
  #url: https://b4bz.io
#   style: "is-dark" # See https://bulma.io/documentation/components/message/#colors for styling options.
#   title: "Demo !"
#   icon: "fa fa-grin"
#   content: "This is a dummy homepage demo. <br /> Find more information on <a href='https://github.com/bastienwirtz/homer'>github.com/bastienwirtz/homer</a>"

# Optional navbar
# links: [] # Allows for navbar (dark mode, layout, and search) without any links
# links:
#   - name: "Contribute"
#     icon: "fab fa-github"
#     url: "https://github.com/bastienwirtz/homer"
#     target: "_blank" # optional html a tag target attribute
#   - name: "Wiki"
#     icon: "fas fa-book"
#     url: "https://www.wikipedia.org/"
#   # this will link to a second homer page that will load config from additionnal-page.yml and keep default config values as in config.yml file
#   # see url field and assets/additionnal-page.yml.dist used in this example:
#   - name: "another page!"
#     icon: "fas fa-file-alt"
#     url: "#additionnal-page"

# Services
# First level array represent a group.
# Leave only a "items" key if not using group (group name, icon & tagstyle are optional, section separation will not be displayed).
services:
  - name: "Media"
    icon: "fas fa-play"
    items:
{% for container in containers %}
{% if container.ports is defined and container.homer_category is defined and container.homer_category == "media" %}
      - name: {{ container.name }}
        logo: "assets/tools/homer-icons/png/{{ container.homer_icon }}.png"
        url: "http://{{ ansible_host }}:{{ container.ports.0.split(":").0 }}"
{% endif %}
{% endfor %}
      - name: "GoPlay"
        logo: "assets/tools/homer-icons/png/emby.png"
        url: "https://goplay.ml/"
      - name: "YouTube"
        logo: "assets/tools/homer-icons/png/youtube.png"
        url: "https://www.youtube.com/feed/subscriptions"
      - name: "Twitch"
        logo: "assets/tools/homer-icons/png/peertube.png"
        url: "https://www.twitch.tv/directory/following"
  - name: Server
    icon: "fas fa-server"
    items:
{% for container in containers %}
{% if container.ports is defined and container.homer_category is defined and container.homer_category == "server" %}
      - name: {{ container.name }}
        logo: "assets/tools/homer-icons/png/{{ container.homer_icon }}.png"
        url: "http://{{ ansible_host }}:{{ container.ports.0.split(":").0 }}"
{% endif %}
{% endfor %}
      - name: "Proxmox"
        logo: "assets/tools/homer-icons/png/proxmox.png"
        url: "https://192.168.13.200:8006"
      - name: "Synology"
        logo: "assets/tools/homer-icons/png/synology.png"
        url: "http://192.168.13.11:5000"
      - name: "pfSense"
        logo: "assets/tools/homer-icons/png/pfsense.png"
        url: "https://192.168.13.1:10443/"
  - name: Download Clients
    icon: "fas fa-cloud-download-alt"
    items:
{% for container in containers %}
{% if container.ports is defined and container.homer_category is defined and container.homer_category == "download clients" %}
      - name: {{ container.name }}
        logo: "assets/tools/homer-icons/png/{{ container.homer_icon }}.png"
        url: "http://{{ ansible_host }}:{{ container.ports.0.split(":").0 }}"
{% endif %}
{% endfor %}
      - name: "qbittorrent"
        logo: "assets/tools/homer-icons/png/qbittorrent.png"
        url: "https://flow.seedhost.eu/manav/qbittorrent/"
      - name: "ruTorrent"
        logo: "assets/tools/homer-icons/png/rutorrent.png"
        url: "https://flow.seedhost.eu/manav/rutorrent/"
  - name: Private Tracker
    icon: "fas fa-file-download"
    items:
{% for container in containers %}
{% if container.ports is defined and container.homer_category is defined and container.homer_category == "private tracker" %}
      - name: {{ container.name }}
        logo: "assets/tools/homer-icons/png/{{ container.homer_icon }}.png"
        url: "http://{{ ansible_host }}:{{ container.ports.0.split(":").0 }}"
{% endif %}
{% endfor %}
      - name: "AnimeBytes"
        logo: "assets/tools/homer-icons/png/n8n.png"
        url: "https://animebytes.tv/"
      - name: "Jpopsuki"
        logo: "assets/tools/homer-icons/png/n8n.png"
        url: "https://jpopsuki.eu/"
  - name: Request Management
    icon: "fas fa-download"
    items:
{% for container in containers %}
{% if container.ports is defined and container.homer_category is defined and container.homer_category == "request management" %}
      - name: {{ container.name }}
        logo: "assets/tools/homer-icons/png/{{ container.homer_icon }}.png"
        url: "http://{{ ansible_host }}:{{ container.ports.0.split(":").0 }}"
{% endif %}
{% endfor %}
  - name: Services
    icon: "fas fa-cubes"
    items:
      - name: "SeedHost"
        url: "https://www.seedhost.eu/whmcs/clientarea.php"
      - name: "Hetzner"
        url: "https://console.hetzner.cloud/projects"
      - name: "Mullvlad"
        url: "https://mullvad.net/en/account/#/"
      - name: "MyAnimeList"
        url: "https://myanimelist.net/animelist/iFluffy?status=1"
      - name: "MyDramaList"
        url: "https://mydramalist.com/dramalist/manav"
  - name: Services
    icon: "fas fa-cubes"
    items:
      - name: "GitHub"
        logo: "assets/tools/homer-icons/png/github.png"
        url: "https://github.com/singhmanavjot"
      - name: "Google Drive"
        url: "https://drive.google.com/drive/my-drive"
      - name: "Monkeytype"
        url: "https://monkeytype.com/"
      - name: "Raiffeisen"
        url: "https://sso.raiffeisen.at/mein-login/identify"
